/Solucion_Codigo/ProytectoB2POO3.0/SistemFacturacionSuperMaxi/nbproject/private/
/Solucion_Codigo/ProytectoB2POO3.0/SistemaFacturacionSuperMaxi/nbproject/private/
/Solucion_Codigo/ProytectoB2POO3.0/SistemaFacturacionSuperMaxi/build/
